@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html{
  font-family: 'Open Sans', sans-serif;
  transition: 1s;
}

.App {
  transition: 1s;
  max-width: 85%;
  margin: auto;
}

.navbar-icon{
  height: 60px;
}


.bg-yellow{
  background-color: #fdd742;
}

.img{
  transition: 1s;
  width: 100%;
}

.img-round{
  transition: 1s;
  width: 80%;
  border: 8px solid #fdd742;
  border-radius: 50px;
}

.video{
  width: 100%;
  border: 15px solid #000;
  border-radius: 100px
}

.v-centered{
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  height: 100%;
}

.img-grid{
  transition: 1s;
  width: 80%;
}

.txt-yellow{
  color: #fdd742;
}

.txt-white{
  color: #fff;
}

.txt-black{
  color: #000;
}

.txt-grey{
  color: #a6a6a6;
}

h1, h2, h3, h4, h5, h6, h7{
  transition: 1s;
}

#intro-2-img{
  transition: 1s;
  width: 50%;
}

h1{
  font-size: 46.6px;
  font-weight: bold;
}

h2{
  font-size: 34.3px;
  font-weight: bold;
}

h3{
  font-size: 22px;
  font-weight: 300;
  line-height:1.4;
}

h4{
  font-size: 19.4px;
  font-weight: bold;
}

h5{
  font-size: 18.5px;
  font-weight: 300;
  line-height:1.4;
}

h6{
  font-size: 16.6px;
  font-weight: 800;
}


h7{
  font-size: 13px;
  font-weight: 400;
  line-height:1.4;
}

li{
  font-size: 22px;
  font-weight: 300;
  line-height:1.4;
}

.showcase-title-div{
  transition: 1s;
  width: 80%;
  text-align: left;
  margin: auto;
}

.btn, .btn-outlined {
  padding: 15px 12px;
  border: 2px solid #f0d259;
  background-color: #f0d259;
  text-decoration: none;
  transition: 1s;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 45px;
  color: #fff;
  margin-bottom: 40px;
}

.btn-outlined{
  background-color: #fff;
  color: #f0d259;
}

.btn-black{
  background-color: #000;
  border: 2px solid #000;
}

.btn-black:hover{
  background-color: transparent;
  color: #000;
}

.pricing-card{
  transition: 1s;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  background-color: #f0d259;
  padding: 30px;
  height: 100%;
}

.logo-payment{
  transition: 1s;
  height: 30px;
  margin: 0;
}

#m-pesa, #airtel-money{
  height: 55px;
}

#airtel-money{
  width: 48px;
}

.flexDiv{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-link{
  text-decoration: none;
  margin: 0;
  margin-left: 25px;
  color: #000;
  transition: 1s;
}

.footer-link h5{
  font-size:17px;
  margin: 0;
}

.footer-link:hover{
  transition: 1s;
  color: #a6a6a6;
}

#footer-container{
  transition: 1s;
}

#footer-bottom2{
  display: none;
}

#payment-wrapper{
  transition: 1s;
  width: 75%;
  margin: 0 auto;
}

#payment-wrapper div{
  padding: 0;
}

@media (max-width: 1260px) {
  .App {
    transition: 1s;
    max-width: 92%;
  }
}

@media (max-width: 1180px) {
  .App {
    transition: 1s;
    max-width: 95%;
  }

  .img{
    width: 90%;
  }

  h1{
    font-size: 40px;
    font-weight: bold;
  }
  
  h2{
    font-size: 31px;
    font-weight: bold;
  }
  
  h3{
    font-size: 21px;
    font-weight: 300;
    line-height:1.4;
  }
  
  h4{
    font-size: 18px;
    font-weight: bold;
  }
  
  h5{
    font-size: 17px;
    font-weight: 300;
    line-height:1.4;
  }
  
  h6{
    font-size: 15px;
    font-weight: 800;
  }
  
  
  h7{
    font-size: 13px;
    font-weight: 400;
    line-height:1.4;
  }

  .btn, .btn-outlined {
    padding: 15px 12px;
    font-size: 13px;
  }
  
  li{
    font-size: 19px;
    font-weight: 300;
    line-height:1.4;
  }

  .pricing-card{
    width: 85%;
  }
  
}

@media (max-width: 1024px) {
  #footer-container{
    flex-direction: column !important;
  }

  #footer-top{
    text-align: center;
    justify-content: center !important;
  }

  #footer-container div{
    margin: 15px auto;
  }

  .footer-link{
    margin-left: 25px;
    margin-right: 25px;
  }

  #payment-wrapper{
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 991px) {
  #top-comment{
    width: 50%;
    margin: auto;
  }

  .img-grid{
    width: 50%;
  }

  .img-round{
    width: 90%;
  }

  .showcase-title-div{
    width: 90%;
  }

  #intro-2-img{
    width: 60%;
  }

  .pricing-card{
    width: 95%;
  }

  #payment-wrapper{
    width: 55%;
    margin: 0 auto;
  }

  #payment-wrapper div{
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .noShow{
    display: none !important;
  }
}

@media (max-width: 773px) {
  .footer-link{
    margin-left: 15px;
  }
  
  .footer-link h5{
    font-size:15px;
    margin: 0;
  }

  #payment-wrapper{
    width: 65%;
    margin: 0 auto;
  }
}

@media (max-width: 702px) {
  #footer-bottom1{
    display: none;
  }

  #footer-bottom2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    text-align: center;
  }

  .footer-link{
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .img-round{
    width: 50%;
  }

  .showcase-title-div{
    width: 50%;
    text-align: center;
    margin-bottom: 35px;
  }
  #top-comment{
    width: 100%;
  }

  h2{
    font-size: 25px;
    font-weight: bold;
  }

  .pricing-card{
    width: 80%;
  }

  .App {
    max-width: 90%;
  }
}

@media (max-width: 650px) {
  #payment-wrapper{
    width: 75%;
    margin: 0 auto;
  }
}

@media (max-width: 560px) {
  .pricing-card{
    width: 90%;
  }

  .logo-payment{
    height: 25px;
    margin: 0 8px;
  }

  #m-pesa, #airtel-money{
    height: 50px;
  }
  
  #airtel-money{
    width: 43px;
  }

  #payment-wrapper{
    width: 75%;
    margin: 0 auto;
  }

  .btn, .btn-outlined {
    padding: 13px 10px;
    font-size: 11px;
  }
}